  
<div id="citycontainer">
    <div>{{> logout}}</div>


<h1>The people who suported my petition in {{city}}</h1>




{{#names}}
<div id = "list"><p><a href="{{url}}" target="_blank">{{first_name}} {{last_name}}</a>, {{age}}</p></div>
{{/names}}

</div>
