<div id="container3">
  
    {{> logout}}
 
    <h1 id="headingsign">Here are all the lovely people who have signed the petition:</h1>
    <div id="signlist">
        
            {{#signed}}

                <div id = "list"><p>{{#if url}}<a href="{{url}}">{{/if}}{{first_name}} {{last_name}}{{#if url}}</a>{{/if}}{{#if age}}, {{age}}{{/if}}{{#if city}}, <a href="/signatories/{{city}}">{{city}}</a>{{/if}}</p></div>

            {{/signed}}
         
    </div>
</div>

    
