<div id="container3">
    <h1 id="headingsign">Here are all the lovely people who have signed the petition:</h1>
    <div id="signlist">
        
            {{#signed}}
        
            <div><a href="{{url}}" target="_blank">{{first}} {{last}}</a>, {{age}} ,<a href="/signatories/{{city}}">{{city}}</a></div>
           
            {{/signed}}
         
    </div>
</div>

    
